.nav-link {
  position: relative;
}

.log {
  border-radius: 5px;
  justify-content: center;
  
}
.descriptions {
  font-weight: 400;
}
.item {
  border: solid 2px #2e7ef9;
  border-radius: 10px;
}

.log:hover {
  text-align: center;
  justify-content: center;
}
.nav-link::after {
  content: "";
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
  color: var(--skybluecolor);
}

.logopic {
  width: 50px;
}
.main {
}
.logo-conatiner {
  padding-left: 6rem;
}
#menu {
  padding-right: 13rem;
}
#menu ul li {
  padding: 10px;
}
#menu ul li a {
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  padding: 5px 15px;
  text-align: center;
  color: black;
}
.jeevaname {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 700px) {
  .nav-item .descriptions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1100px) {
  .logo-conatiner {
    padding-left: 1rem;
  }
  #menu ul li a {
    padding: 10px 0px;
    text-align: left;
  }
}
